<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Nama Game</th>
      <th>Kategori</th>
      <th>Nominal</th>
      <th>Status</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% for (let i = 0; i < vouchers.length; i++) { %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= vouchers[i].name %></td>
      <td><%= vouchers[i]?.category?.name ?? '-' %></td>
      <td>
        <% vouchers[i].nominals.forEach((nominal) => { %>
        <span class="badge badge-warning"
          ><%= nominal.coinName %> <%= nominal.coinQuantity %></span
        >
        <% }) %>
      </td>
      <td>
        <span
          class="badge badge-<%= vouchers[i].status === 'Y' ? 'success' : 'danger' %>"
        >
          <%= vouchers[i].status == 'Y' ? 'Aktif' : 'Tidak Aktif' %></span
        >
      </td>
      <td>
        <form action="" style="display: inline-block">
          <button class="btn btn-primary btn-sm">
            <i class="fas fa-folder"></i> Hapus
          </button>
        </form>
        <a href="/voucher/edit/<%= vouchers[i]._id %>" class="btn btn-info btn-sm"
          ><i class="fas fa-pencil-alt"></i> Ubah</a
        >
        <form
          action="/voucher/delete/<%= vouchers[i]._id %>?_method=DELETE"
          method="POST"
          style="display: inline-block"
        >
          <button class="btn btn-danger btn-sm">
            <i class="fas fa-trash"></i> Hapus
          </button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
  <tfoot>
    <tr>
      <th>No.</th>
      <th>Nama Game</th>
      <th>Kategori</th>
      <th>Nominal</th>
      <th>Status</th>
      <th>Aksi</th>
    </tr>
  </tfoot>
</table>
